<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="POST">

    <div class="form-group">
        <label for="postTitle">Title</label>
    <input class="form-control" type="text" id = "postTitle" name = "postTitle">
    </div>
    <div class="form-group">
        <label for="postBody">Post</label>
        <textarea class="form-control" rows="10" id ="postBody" aria-label="With textarea" name = "postBody"></textarea>
    </div>
    
        <button type="submit" class = "btn btn-primary ">Publish</button>
   
    
    
</form>
<%- include('partials/footer'); -%>